{% extends 'base.html' %} {% block content %}

<h1>Routines</h1>

{% for routine in routines %}
<div class="card">
<a href="{% url 'detail' routine.id %}">
  <div class="card-content">
    <span class="card-title">{{ routine.name }}</span>
    <p>Muscle Group: {{ routine.muscle_group }}</p>
    <p>Description: {{ routine.description }}</p>
    {% if routine.days_per_week > 0 %}
    <p>Days Per Week: {{ routine.days_per_week }}</p>
    {% else %}
    <p>Not in current split</p>
    {% endif %}
  </div>
</a>
</div>
{% endfor %} {% endblock %}