* {
    font-weight: bold;
}

body {
    background:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("gymbg.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: teal;
    font-weight: bold;

}

.left {
    margin-left: 10px;
}

main {
    flex: 1 0 auto;
  }

footer {
    padding-top: 0;
    text-align: right;
  }

.nav-wrapper {
    background-color: teal;
}

.page-footer {
    background-color: teal;
}

label {
    color: black
}

.form-block {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-block {
    background-color: rgba(255, 255, 255, 0.8);
}

.show-block {
    background-color: white;
}

.registration {
    background-color: rgba(255, 255, 255, 0.8);
}

p {
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .title {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .left {
        text-decoration: underline;
        margin-top: -5px;
        float: none !important;
    }

    nav .brand-logo.left {
        left: unset !important;
    }

    nav .brand-logo {
        position: relative;
    }

    nav {
        line-height: 40px;
    }
    
    .right {
        margin-top: -10px;
        background-color: teal;
    }

    .navbuttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .right-wrapper {
        display: flex;
        justify-content: center;
    }

    .container {
        margin-top: 9vh;
        padding-bottom: 2vh;
    }

    .li2 {
        font-size: 1.5vh;
    }

    h1 {
        font-size: 5vh;
        text-align: center;
    }

    h3 {
        font-size: 5vh;
        text-align: center;
    }

    h5 {
        text-align: center;
    }

    .card-title {
        text-align: center;
    }

    .row .col.s6 {
        width: 100%;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .page-footer {
        padding-top: 10px;
    }

    footer {
        display: flex;
        justify-content: center;
    }
  }